{% extends "layout.html" %}

{% block content %}
    <div class="form-main">
        <form method="POST" action="" class="the-form">
            {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">LOGIN</legend>
            
            <div class="mb-3">
               {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>    
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control") }}
                {% endif %}

            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>    
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control") }}
                {% endif %}
 
            </div>
            <div class="mb-3 form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <div class="wrap1">
                <div class="c1">{{ form.submit(class="btn btn-primary") }}</div>
                <div class="c2">
                    <small class="text-muted ml-4 mt-2">
                        <a href="{{ url_for('reset_req') }}">Forgot Password?</a>
                    </small>
                </div>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock content %}